@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}

.hero-pattern::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
    pointer-events: none;
  }




input{
    width: 100%;
    color: black;
    background: none;
    outline: none !important;
}

input::placeholder {
    color: white; 

  }

  .css-1xc3v61-indicatorContainer .css-tj5bde-Svg {
    /* background-image: url('./assets/location-sign-svgrepo-com.svg') !important;  */
    width: 20px; /* Adjust to match the SVG's width */
    height: 20px; /* Adjust to match the SVG's height */
    fill: red;
    content: "";

  }

  .custom-icon::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: cover;
    fill: red;

  }

 .css-13cymwt-control{
    border-radius: 50px !important;
    border: none;
    border-style: none !important;
  }


  .react-datepicker {
    font-family: Arial, sans-serif;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
  }

  .react-datepicker__month-container {
    display: flex;
    flex-direction: column;
  }

  .react-datepicker__current-month {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .react-datepicker__day {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  .react-datepicker__day--disabled {
    color: #ccc;
    cursor: not-allowed;
  }

  .react-datepicker__day--today {
    background-color: #f0f0f0;
  }

  .react-datepicker__day--keyboard-selected {
    background-color: #87CEEB;
    color: white;
  }
  .react-datepicker__navigation{
    top: 40px;
  }

  .ant-modal-footer{
    display: none;
  }

  .css-13cymwt-control{
    /* justify-content: space-between !important; */
    padding: 5px;
  }

  .carousel .thumbs-wrapper {
    display: none;
  }


  .css-b62m3t-container{
    width: 100%;
  }


  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #363636 ; 
    font-weight: 500;
 }

 
 .ant-tabs-ink-bar {
    position: absolute;
    background: #000000;
    pointer-events: none;
 }
  


 /*	The box around the slider*/
 .switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}
/*		Hide default Html checkbox*/
.switch input{
  opacity: 0;
  width: 0;
  height: 0;

}
	.switch{
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

}
/*		Hide default Html checkbox*/
.switch input{
  opacity: 0;
  width: 0;
  height: 0;

}
/*
The slider*/
  .sliderm{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
/*
::before is used to add contents before a previously set content*/

  .sliderm:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
     background-color: white;
     -webkit-transition: .4s;
     transition: .4s;
  }


  input:checked + .sliderm{
    background-color: rgb(255, 177, 33);
  }


  input:focus + .sliderm{
    box-shadow: 0 0 1px rgb(255, 177, 33);
  }


  /*	The css thaat handles the movements*/
  input:checked + .sliderm:before{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


/*		Round sliders*/
  .sliderm.round{
    border-radius: 34px;
  }
  .sliderm.round:before{
    border-radius: 50%;
  }




  /* for chat support */

  .transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}



.transition-5 {
  transition: all 0.66s ease;
  -webkit-transition: all 0.66s ease;
  -moz-transition: all 0.66s ease;
}

/* 
.ant-picker-panel-layout{
  width: 80%;
  height: 300px;
  flex-wrap: wrap !important;
  overflow: scroll;
} */




.dot-pulse1 {
  --uib-size: 30px;
  --uib-speed: 1.3s;
  --uib-color: rgb(68, 67, 67);

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--uib-size);
  height: calc(var(--uib-size) * 0.27);
}

.dot-pulse1__dot,
.dot-pulse1::before,
.dot-pulse1::after {
  content: '';
  display: block;
  height: calc(var(--uib-size) * 0.18);
  width: calc(var(--uib-size) * 0.18);
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
}

.dot-pulse1::before {
  animation: pulse1 var(--uib-speed) ease-in-out infinite;
}

.dot-pulse1__dot {
  animation: pulse1 var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * 0.125) infinite both;
}

.dot-pulse1::after {
  animation: pulse1 var(--uib-speed) ease-in-out
    calc(var(--uib-speed) * 0.25) infinite;
}

@keyframes pulse1 {
  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }
}




/* Custom CSS */
.selected-radio .ant-radio-checked::after {
  background-color: rgb(251, 146, 60);
  border: 1px solid rgb(251, 146, 60);
}
/* 
.selected-radio-button .ant-radio-button-checked::after {
  background-color: rgb(251, 146, 60);
  border: 1px solid rgb(251, 146, 60);
} */

/* custom-radio.css */
.ant-radio-wrapper.ant-radio-wrapper-checked .ant-radio-inner {
  background-color: rgb(251, 146, 60);
  border: 1px solid rgb(251, 146, 60);
  color:  rgb(251, 146, 60);
}

/* .ant-radio-button-wrapper.ant-radio-button-wrapper-checked .ant-radio-button-inner {
  background-color: rgb(251, 146, 60);
  border: 1px solid rgb(251, 146, 60);
  color:  rgb(251, 146, 60);
} */


/* custom-radio-button.css */
.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background-color:  rgb(250, 152, 72);
  border-color:  rgb(251, 146, 60);
  color: white;
}

.ant-radio-button-wrapper.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
  background-color:  rgb(251, 146, 60);
  border-color:  rgb(251, 146, 60);
  color: white;
}


.ant-radio-button-wrapper.ant-radio-button-wrapper:not(.ant-radio-button-wrapper-disabled):not(.ant-radio-button-wrapper-checked):hover {
  /* background-color:  rgb(251, 146, 60); */
  border-color:  rgb(250, 152, 72);
  color: rgb(251, 146, 60);
}

.ant-radio-wrapper.ant-radio-wrapper:not(.ant-radio-wrapper-disabled):not(.ant-radio-wrapper-checked):hover {
  /* background-color:  rgb(251, 146, 60); */
  border-color:  rgb(250, 152, 72);
  color: rgb(251, 146, 60);
}


/* 
:where(.css-dev-only-do-not-override-3mqfnx).ant-picker-dropdown-range {
  padding: 10.666666666666666px 0;
  width: 80% !important;
} */


.custom-table .ant-table-thead th {
  background: white;
}


.react-pdf__Page__canvas {
  margin: 0 auto !important;
  width: 80% !important;
  height: 100% !important;
}

.slick-slider .slick-initialized{
    width: 90% !important;
}


.fc-bg-event {
  display: flex;
  justify-content:center;
  align-items:flex-end;
  /* background-color: transparent; */
  padding-bottom: 10px;
  cursor:not-allowed ;
  
}



.fc-daygrid-day:has(.fc-daygrid-day-bg .blocked-dates) .fc-daygrid-day-top {
  text-decoration: line-through;
  color: #848383;
}


.available-dates{
  color: rgb(0, 0, 0);
  background-color: transparent;
 
  cursor:pointer ;

}
.blocked-dates{
  color: rgb(0, 0, 0);
  background-color: transparent;
 
  cursor:pointer ;

}

.fc-daygrid-day-frame :focus{
  border-color: #000000;
  border: 1px solid;
  border-radius: 30px;

  

}





/* .blockedDates{
 
   
} */




/* Media query for desktop screens */
@media only screen and (min-width: 768px) {
  /* Additional styles for desktop screens */
 /* Common styles for both prev and next arrows */
.splide__arrow {
  width: 40px;
  height: 40px;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.splide__arrow svg {
  fill: white;
  background-image: url('../../assets/Images/arrow-left.svg');
}

/* Styles for prev arrow */
.splide__arrow.splide__arrow--prev {
  background-color: rgb(255, 124, 17);
  color: white;
}

/* Styles for next arrow */
.splide__arrow.splide__arrow--next {
  background-color: rgb(255, 124, 17);
  color: white;
  opacity: 1;
}

  /* Uncomment the following if you want a hover effect on desktop screens */
  /*
  .splide__arrow:hover {
    background-color: #dddddd;
  }
  */
}





  .containerb {
    --uib-size: 105px;
    --uib-color: rgb(255, 124, 17);
    --uib-speed: 2s;
    position: relative;
    height: var(--uib-size);
    width: var(--uib-size);
  }

  .containerb::before,
  .containerb::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: pulse var(--uib-speed) linear infinite;
    transform: scale(0);
    opacity: 0;
    transition: background-color 0.3s ease;
  }

  .containerb::after {
    animation-delay: calc(var(--uib-speed) / -2);
  }

  @keyframes pulse {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }



  .skeleton-loader {
    display: inline-block;
    background: linear-gradient(
      90deg,
      rgba(219, 219, 219, 0) 0%,
      rgba(219, 219, 219, 0.5) 50%,
      rgba(219, 219, 219, 0) 100%
    );
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    /* border-radius: 2px; */
    /* height: 18px; */
    margin-bottom: 10px;
  }

  @keyframes loading {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }





/* Add border styles to your input */
.PhoneInputInput {
  flex: 1;
  min-width: 0;
  height: 36px;
  border: 1px solid #ccc;
  border-radius: 5px;
}




  .containerM {
    --uib-size: 60px;
    --uib-color: rgb(239, 134, 49);
    --uib-speed: 2.5s;
    --uib-dot-size: calc(var(--uib-size) * 0.18);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--uib-size);
    height: var(--uib-dot-size);
  }

  .dot {
    position: absolute;
    top: calc(50% - var(--uib-dot-size) / 2);
    left: calc(0px - var(--uib-dot-size) / 2);
    display: block;
    height: var(--uib-dot-size);
    width: var(--uib-dot-size);
    border-radius: 50%;
    background-color: var(--uib-color);
    animation: stream var(--uib-speed) linear infinite both;
    transition: background-color 0.3s ease;
  }

  .dot:nth-child(2) {
    animation-delay: calc(var(--uib-speed) * -0.2);
  }

  .dot:nth-child(3) {
    animation-delay: calc(var(--uib-speed) * -0.4);
  }

  .dot:nth-child(4) {
    animation-delay: calc(var(--uib-speed) * -0.6);
  }

  .dot:nth-child(5) {
    animation-delay: calc(var(--uib-speed) * -0.8);
  }

  @keyframes stream {
    0%,
    100% {
      transform: translateX(0) scale(0);
    }

    50% {
      transform: translateX(calc(var(--uib-size) * 0.5)) scale(1);
    }

    99.999% {
      transform: translateX(calc(var(--uib-size))) scale(0);
    }
  }

  




 
